<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      xsi:schemaLocation="http://www.thymeleaf.org ">
<head>
    <meta charset="UTF-8"/>
    <title>Students</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
    <body>
        <h1>Students</h1>
        <h2>Add a student:</h2>
        <div>
            <form th:action="@{/students}" th:object="${studentForm}" method="POST">
                Full Name:
                <br/>
                <input type="text" th:field="*{fullName}"/>
                <br/>
                Date Of Birth (yyyy-mm-dd):
                <br/>
                <input type="text" th:field="*{dateOfBirth}"/>
                <br/>
                <br/>
                <input type="submit" value="Add"/>
            </form>
        </div>
        <br/>
        <div th:if="${errorMessage}" th:utext="${errorMessage}"
             style="color:red;font-style:italic;">
        </div>
        <br/>
        <h2>Students list:</h2>
        <div>
            <table>
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Date Of Birth</th>
                </tr>
                <tr th:each="student : ${students}">
                    <td th:utext="${student.id}">...</td>
                    <td th:utext="${student.fullName}">...</td>
                    <td th:utext="${student.dateOfBirth}">...</td>
                    <td><a th:href="@{/students/delete/{id}(id=${student.id})}">delete</a></td>
                </tr>
            </table>
        </div>
    </body>
</html>
