<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8" />
        <title>Students List</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h1>Students</h1>
        <div>
            <table border="1">
                <tr>
                    <th>ID</th>
                    <th>Full Name</th>
                    <th>Date Of Birth</th>
                </tr>
                <tr th:each ="student : ${students}">
                    <td th:utext="${student.id}">...</td>
                    <td th:utext="${student.fullName}">...</td>
                    <td th:utext="${student.dateOfBirth}">...</td>
                </tr>
            </table>
        </div>
    </body>
</html>